<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}

<body>
    <div class="wrapper">
        {% include sidebar.html %}
        
        <div class="main-wrapper">
           <section class="section experiences-section">
				<h2 class="section-title"><i class="fa fa-briefcase"></i>
					<a href="{{ '/' | prepend: site.baseurl }}">blog list</a>
				</h2>
			</section>
           {{content}}
        </div>
    </div>
 
{% include footer.html %}
 
{% include scripts.html %}
</body>
</html>